Options +FollowSymLinks
RewriteEngine On

# Redirigir todas las solicitudes a index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]